@use "variables" as *;
@use "mixins" as *;

.header {
  width: 100%;
  height: 30rem;
  background: url(../images/desktop/image-hero.jpg) no-repeat center
    center/cover;
  @include flex(column, flex-start, start);
  padding: 3rem 5rem;
  @include mobile {
    width: 100%;
    height: 40rem;
    padding: 2rem 1rem;
    background: url(../images/mobile/image-hero.jpg) no-repeat center;
  }
}

.nav {
  width: 100%;
  @include flex(row, space-between, start);

  &__links {
    @include flex(row, space-between, start, 1rem);
    width: 50%;
    @include mobile {
      display: none;
    }

    li {
      list-style: none;
      cursor: pointer;
      @include typography(
        1rem,
        $font-family: Alata,
        $weight: 400,
        $color: $color-white
      );
    }

    /*li:hover {
      border-bottom: 2px solid $color-white;
      transition: all 0.3s;
    }*/
  }
}

.hero {
  width: 50%;
  height: fit-content;
  border: 2px solid $color-white;
  @include flex(column, center, center);
  padding: 2rem;
  text-transform: uppercase;
  margin-top: 4rem;

  @include mobile {
    width: 100%;
    padding: 2rem;
    font-size: 11.5vw;
    font-weight: 300;
  }

  @include typography(
    3rem,
    $font-family: Josefin Sans,
    $weight: 300,
    $color: $color-white
  );
}

.mobileMenu {
  display: none; // Desktop için

  @include mobile {
    display: block;
    min-height: 100vh;
    width: 100%;
    background-color: $color-black;
    position: absolute;
    left: 0;
    top: 0;
    padding: 3rem 2rem;
    @include flex(column, flex-start, center, 12rem);

    &__top {
      width: 100%;
      @include flex(row, space-between, center, 0);
      &--icons {
        width: 2rem;
      }
    }

    &__links {
      align-self: start;

      ul {
        @include flex(column, center, start, 2rem);
        list-style: none;
        margin-bottom: 2rem;

        li {
          margin-right: 2rem;
          cursor: pointer;
          transition: color 0.3s;
          text-transform: uppercase;
          @include typography(
            2rem,
            $font-family: $font-secondary,
            $weight: 300,
            $color: $color-white
          );
        }
      }
    }
  }
}
